/* bootstrap css file */

@import 'bootstrap/bootstrap.min.css';
@import 'DTW-layout-home.css';
@import 'DTW-layout-page.css';
@import 'DTW-layout-portfolio.css';
@import 'tablet.css';
@import 'mobile.css';